/*font-family: 'IBM Plex Serif', serif; titulo
font-family: 'Dongle', sans-serif; itemsNav*/

.logo{
    width: 20%;
    
    filter:grayscale(0.6);
}

.navbar-toggler-icon{
    background-color: rgb(49, 46, 46);
}




/* X-Small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap*/
@media (max-width: 576px){
    .logo{
        width:30%;
        margin-left:40%;
        
    }
    .navbar-toggler-icon{
        background-color: rgb(71, 70, 70);
    }

    
    .listaLinks{
        margin-left: 15px;
    }
    
    
}